.ipynb_checkpoints/
.ipynb_checkpoints/*
.DS_Store
.ipynb_checkpoints/HW3_template-Joe_Copy1-checkpoint.ipynb
.ipynb_checkpoints/HW3_template-Joe_Copy1-checkpoint.ipynb
.ipynb_checkpoints/nex_dcp30_intro-Joe_Copy-checkpoint.ipynb
.ipynb_checkpoints/nex_dcp30_intro-Joe_Copy-checkpoint.ipynb
.ipynb_checkpoints/HW3_template-Joe_Copy1-checkpoint.ipynb
.~desik-copy.ipynb
